body{
    background-color: gray;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_52683-59882.jpg?w=996&t=st=1706540774~exp=1706541374~hmac=a695e945b6d55908120de30e0e84e07f3572195d00f93401ec104b7638f7bdf7);
    background-repeat: no-repeat;
    
    
}
.input{
    background-color: gray
    
    
}

.cal{
    font-family: 'Satisfy', cursive;
    
}

.op1{
    background-color: lightblue;
}
.op2{
    background-color: lightgreen;
}
.op3{
    background-color: lightcoral;
    
}

.t{
    background-color: bisque;
}
